apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-config
  namespace: todo-app
data:
  NEXT_PUBLIC_BACKEND_URL: "http://todo-backend-service:8000"
  NEXT_PUBLIC_APP_URL: "http://todo.local"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: todo-app
data:
  NEXT_PUBLIC_APP_URL: "http://todo.local"
