apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
  namespace: todo-app
type: Opaque
stringData:
  GOOGLE_API_KEY: "replace-with-your-key"
  DATABASE_URL: "replace-with-your-db-url"
  BETTER_AUTH_SECRET: "replace-with-your-secret"
  SECRET_KEY: "replace-with-your-secret-key"
